{{#if term}}
  <div class="">
    <p class="tc">
      Found <span class="blue">{{searchResults.length}}</span> searching for <span class="red">{{term}}</span>
    </p>
    {{#each searchResults as |article index|}}
      <div
        class="tc {{if (eq index 4) "" "bb"}} b--black-10">
        <a href={{href-to "article" article.slug}}
          title={{article.title}}
          class="min-w-4 db pv2 js-social-nav-link pl3 silver no-underline">
          <span class="f6">{{article.title}}</span>
        </a>
      </div>
    {{else}}
      <div class="tc">
        No results found.
      </div>
    {{/each}}
  </div>
{{/if}}
