{{#if term}}
  <div class="">
    <p class="tc text-center">
      Found <span class="text-blue-300">{{searchResults.length}}</span> searching for <span class="text-red red">{{term}}</span>
    </p>
    {{#each searchResults as |article index|}}
      <div
        class=" text-center {{if (eq index 4) "" "border-b"}}  border-black">
        <a href={{href-to "article" article.slug}}
          title={{article.title}}
          class="min-w-4 db block js-social-nav-link pl-3 text-grey no-underline">
          <span class="text-xl">{{article.title}}</span>
        </a>
      </div>
    {{else}}
      <div class="text-center">
        No results found.
      </div>
    {{/each}}
  </div>
{{/if}}
