<div class="border-b border-grey-light">
  <div class="relative container mx-auto px-8 my-10 max-w-6xl">
    <div class="flex flex-row pv4" data-test-nav>
      <div>
        {{#if (eq lumen.mode "dark")}}
          <a
            data-test-brand
            class="no-underline font-bold py-2 px-1 mr-3 bg-gray-700 text-gray-200"
            style="
            padding-left: 10px !important;
            margin-left: -0.5em;
            "
            onclick={{action "closeMenu"}}
            href={{href-to "blog"}}>
            Ryan LaBouve
          </a>
        {{else}}
          <a
            data-test-brand
            class="no-underline font-bold py-2 px-1 mr-3 bg-black text-white "
            style="
            padding-left: 10px !important;
            margin-left: -0.5em;
            "
            onclick={{action "closeMenu"}}
            href={{href-to "blog"}}>
            Ryan LaBouve
          </a>
        {{/if}}

        {{#if hideMobileMenu}}
          {{#each links as |link|}}
            {{link-to link.title link.path
            class="js-nav-link text-grey py-2 pr-2 text-xl no-underline"}}
          {{else}}
            No links found
          {{/each}}
        {{/if}}
      </div>
      <div class="flex-auto">&nbsp;</div>

      {{#if hideMobileMenu}}
        {{#each socialLinks as |link|}}
          <a href={{link.link}}
            title={{link.title}}
            class="js-social-nav-link text-gray pl-3 no-underline">
            <span style={{concat "color: " (safe-string link.color)}}>
              {{fa-icon link.icon size=1}}
            </span>
          </a>
        {{else}}
          No links found
        {{/each}}
        <button onclick={{action "toggleSearchBar"}} class="ml4 ml-4 pointer">
          {{fa-icon "search" size=1 class="black"}}
        </button>
      {{else}}
        <button
          onclick={{action "toggleMobileMenu"}}
          class="absolute p-2 mr-2 text-bold text-blue-300 border border-blue-300 mr-2"
          style="
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          cursor: pointer;
          ">
          {{#if _showMobileMenu}}
            <span class="gray text-grey">
              Close menu
            </span>
            <span class="dark-red text-red">
              {{fa-icon "close"}}
            </span>
          {{else}}
            Menu&nbsp;&nbsp;
            <span>
              {{fa-icon "ellipsis-v"}}
            </span>
          {{/if}}
        </button>
      {{/if}}
    </div>
  </div>
</div>
{{#if _canWormhole}}
  {{#ember-wormhole to="menu"}}
    <div>
      {{#if (and showMobileMenu _showMobileMenu)}}
        {{#each links as |link|}}
          <div class="tc bb b--black-10 border-b border-black text-center">
            {{link-to link.title link.path
            invokeAction=(action "closeMenu")
            class="link js-nav-link block py-3 pr-2 text-md text-grey"}}
          </div>
        {{/each}}
        {{#each socialLinks as |link|}}
          <div
            class="tc {{if link.last "" "bb"}} b--black-10"
            >
            <a href={{link.link}}
              style="margin-right: 2.5em;"
              title={{link.title}}
              class="js-social-nav-link no-underline block py-3 pl-3 text-grey">
              <span style={{concat "color: " (safe-string link.color)}}>
                {{fa-icon link.icon size=1}}
              </span>
              &nbsp;
              <span class="text-md">{{link.title}}</span>
            </a>
          </div>
        {{/each}}
      {{else}}
      {{/if}}
    </div>
  {{/ember-wormhole}}

  {{#ember-wormhole to="search"}}
    <div>
      {{#liquid-if (or _showSearchBar _showMobileMenu)}}
        <div class="p-3 bg-black text-white">
          {{#if (not _showMobileMenu)}}
            <button
              onclick={{action "closeSearch"}}
              class="fr pointer float-right">
              {{fa-icon "close"}}
            </button>
          {{/if}}
          {{fa-icon "search"}}
          <input
          style="border: 0; background: transparent; outline: 0"
          class="w-70 white text-white"
          onkeyup={{action (mut term) value="target.value"}}
          placeholder="search">
        </div>
        {{site/rl-site-search term=term}}

      {{/liquid-if}}
    </div>
  {{/ember-wormhole}}
{{/if}}
