<div class="bt b--black-10 border-t border-gray">
  <div class="w-80-ns container mx-auto px-8 my-10 max-w-6xl">
    <div class="flex-ns flex-row items-start pv4">
      {{#site/rl-footer/rl-footer-box}}
        <div class="leading-tight">
          <div class="tc fr-ns">
            <img src="http://com-ryanlabouve-blog.s3.amazonaws.com/profile-ryan-labouve.jpg" class="br-2 mt-2 ml-2 mb-2 w-10" alt="Profile Picture of Ryan LaBouve">
          </div>
          <div class="font-bold">
            Ryan LaBouve: <br><span class="gray"><span style="color: #f23819">Ember.js</span>, <span style="color: #cc342d">Rails</span>, Programming</span>
          </div>
          <div class="f6 lh-copy tc tl-ns">
            <p>
              Trying to be more like Jesus. Love always wins, no matter how grim things&nbsp;appear.
            </p>
            <p class="">
              ❤️ family, friends, coffee, lifting, OCR's, running, reading, and a great many other&nbsp;things.
            </p>
          </div>
        </div>
      {{/site/rl-footer/rl-footer-box}}
      {{#site/rl-footer/rl-footer-box}}
        {{#deferred-content recentArticles as |d|}}
          {{#d.settled}}
            <div class="py-2 text-xl text-bold text-center text-gray">Recent Articles</div>
          {{/d.settled}}
          {{#d.pending}}
            Loading...
          {{/d.pending}}
          {{#d.fulfilled}}
            {{#each recentArticles as |article index|}}
              <div
                class="text-center {{if (eq index 4) "" "border-b"}} py-1 border-gray text-center">
                <a href={{href-to "article" article.slug}}
                  title={{article.title}}
                  class="min-w-4 js-social-nav-link no-underline">
                  <span class="">{{article.title}}</span>
                </a>
              </div>
            {{/each}}
          {{/d.fulfilled}}
          {{#d.rejected as |reason|}}
            Could not load comments: {{reason}}
          {{/d.rejected}}
        {{/deferred-content}}
        <div class="f6">
        </div>
      {{/site/rl-footer/rl-footer-box}}
      {{#site/rl-footer/rl-footer-box}}
        <div class="">
          {{#each socialLinks as |link|}}
            <div
              class="text-center {{if link.last "" ""}}"
              >
              <a href={{link.link}}
                style="margin-right: 1.5em;"
                title={{link.title}}
                class="block py-2 js-social-nav-link pl-3 text-grey no-underline">
                <span style={{safe-string (concat "color: " link.color)}}>
                  {{fa-icon link.icon size=1}}
                </span>
                &nbsp;
                <span class="f6">{{link.title}}</span>
              </a>
            </div>
          {{/each}}
        </div>
        <div class="f6">
        </div>
      {{/site/rl-footer/rl-footer-box}}
    </div>
  </div>
</div>
