<div
  class="bt b--black-10">
  <div
    class="w-80-ns mw8 center"
    >
      <div class="flex-ns flex-row items-start pv4">
        {{#site/rl-footer/rl-footer-box}}
          <div class="f4 b pv3">
            Ryan LaBouve
          </div>
          <div class="f6">
            <p>
              Ember.js &amp; Rails
            </p>
            <p>
              Disciple of Jesus Christ &amp; family man. Doer of JS &amp; maker of webs.
            </p>
          </div>
        {{/site/rl-footer/rl-footer-box}}
        {{#site/rl-footer/rl-footer-box}}
          {{#deferred-content recentArticles as |d|}}
            {{#d.settled}}
              {{! title here? }}
              <div class="pv2 f6 b tc">Recent Articles</div>
            {{/d.settled}}
            {{#d.pending}}
              Loading...
            {{/d.pending}}
            {{#d.fulfilled as |comments|}}
              {{#each recentArticles as |article index|}}
                <div
                  class="tc {{if (eq index 4) '' 'bb'}} b--black-10">
                  <a href={{href-to 'article' article.slug}}
                    title={{article.title}}
                    class="min-w-4 db pv2 js-social-nav-link pl3 silver no-underline">
                    <span class="f6">{{article.title}}</span>
                  </a>
                </div>
              {{/each}}
            {{/d.fulfilled}}
            {{#d.rejected as |reason|}}
              Could not load comments: {{reason}}
            {{/d.rejected}}
          {{/deferred-content}}
          <div class="f6">
          </div>
        {{/site/rl-footer/rl-footer-box}}
        {{#site/rl-footer/rl-footer-box}}
          <div class="f4 b pv1">
            {{#each socialLinks as |link|}}
              <div
                class="tc {{if link.last '' 'bb'}} b--black-10"
                >
                <a href={{link.link}}
                  style="margin-right: 1.5em;"
                  title={{link.title}}
                  class="db pv2 js-social-nav-link pl3 silver no-underline">
                  <span style={{concat "color: " (safe-string link.color)}}>
                    {{fa-icon link.icon size=1}}
                  </span>
                    &nbsp;
                  <span class="f6">{{link.title}}</span>
                </a>
              </div>
            {{/each}}
          </div>
          <div class="f6">
          </div>
        {{/site/rl-footer/rl-footer-box}}
      </div>
  </div>
</div>
