<div class="py-4">
  <h1 class="text-4xl mb-4">Speaking</h1>
  {{#each model as |talk|}}
    <div class="mb-4">
      <div class="text-xs text-grey">{{talk.date}}</div>
      <div>
        <span class="">
          {{talk.title}}
        </span>
        {{#if talk.slides}}
          <a class="text-xs text-blue-300 mr-2" href={{talk.slides}}> SLIDES</a>
        {{/if}}
        {{#if talk.meetup}}
          <a class="text-xs text-pink mr-2" href={{talk.meetup}}> MEETUP</a>
        {{/if}}

        {{#if talk.video}}
          <a class="text-xs text-purple mr-2" href={{talk.video}}> VIDEO</a>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
